{% extends 'base.html' %}

{% load crispy_forms_tags %}



{% block content %}

<div class="container">

    <section class="section register  d-flex flex-column align-items-center justify-content-center py-5 ">
      <div class="container my-4 ">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-1">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Ingresar sus Credenciales</h5>
                  <p class="text-center small">Ingrese su usuario y contraseña </p>
                </div>

                <form class="row g-3" method='post' >

                  {% csrf_token %}

                  

                  <div class="col-12">

                    {{ form | crispy }}

                    <button class="btn btn-sm btn-primary w-100" type="">Ingresar</button>
                    
                  </div>
                  
                  <div class="col-12">
                    <p class="small mb-0">No tienes una cuenta? <a href=" {% url 'registrar' %}  ">Registrase</a></p>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

</div>

{% endblock %}


