{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}



<form method="POST">
    {% csrf_token %}

    <div class="container breadcrumbs align-items-center mt-5 ">

      <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body">
          <h3 class="card-title"> Cambio de Contraseña </h3>
          <hr>

            {{ form | crispy }}

            <a href= " {% url 'perfil' %}" class="card-link">Cancelar</a>
            <button type="submit" class="btn btn-primary float-end">Cambiar contraseña</button>

        </div> 

      </div>

    </div>

</form>

{% endblock %}