{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block content %}

<div class="container pagetitle">
  <h1>Mi Perfil</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href=" {% url 'home' %} ">Inicio</a></li>
      <li class="breadcrumb-item">Usuarios</li>
      <li class="breadcrumb-item active">Perfiles</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section profile">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div
            class="card-body profile-card pt-4 d-flex flex-column align-items-center"
          >
            <img
              src=" {{ user.imagen.url }} "
              alt="Perfil"
              class="rounded-circle"
              style="width: 210px;"
            />
            <h2> {{ user.first_name }} {{ user.last_name }} </h2>
            <h3> {{ user.ocupacion }} </h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-overview"
                >
                  Ver Perfil
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-edit"
                >
                  Editar Perfil
                </button>
              </li>

              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-change-password"
                >
                  Cambiar Contraseña
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <h5 class="card-title">Sobre mí</h5>
                <p class="small fst-italic">
                  {{ user.bio }}
                </p>

                <h5 class="card-title">Detalles de Perfil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Username</div>
                  <div class="col-lg-9 col-md-8">{{ user.username }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Nombre Completo</div>
                  <div class="col-lg-9 col-md-8">{{ user.first_name }} {{ user.last_name }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Dirección</div>
                  <div class="col-lg-9 col-md-8">
                    {{ user.direccion }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Localidad</div>
                  <div class="col-lg-9 col-md-8">{{ user.localidad }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Provincia</div>
                  <div class="col-lg-9 col-md-8">{{ user.provincia }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">País</div>
                  <div class="col-lg-9 col-md-8">
                    {{ user.pais }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Teléfono</div>
                  <div class="col-lg-9 col-md-8">{{ user.telefono }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Correo Electrónico</div>
                  <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                </div>
              </div>

              <!-- Profile Edit Form -->

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                
                <form method='post' enctype="multipart/form-data" >
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label
                      for="imagen"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Imagen Perfil</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <img src=" {{ user.imagen.url }} " alt=" {{ user.username }} " style="width: 60px;" />
                      <input class="form-control" type="file" name="imagen" id="imagen">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="username"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Username</label>
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="username"
                        type="text"
                        class="form-control"
                        readonly
                        value=" {{ user.username }} "
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="first_name"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Nombre</label>
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="first_name"
                        type="text"
                        class="form-control"
                        value="{{ user.first_name }}"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="last_name"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Apellido</label>
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="last_name"
                        type="text"
                        class="form-control"
                        value="{{ user.last_name }}"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="bio" class="col-md-4 col-lg-3 col-form-label"
                      >Sobre mi</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <textarea
                        name="bio"
                        class="form-control"
                        id="bio"
                        style="height: 100px"
                      >{{ user.bio }}</textarea
                      >
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="ocupacion"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Profesión</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="ocupacion"
                        type="text"
                        class="form-control"
                        value="{{ user.ocupacion }}"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="direccion" class="col-md-4 col-lg-3 col-form-label"
                      >Dirección</label>
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="direccion"
                        type="text"
                        class="form-control"
                        value="{{ user.direccion }}"/>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="localidad"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Localidad</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="localidad"
                        type="text"
                        class="form-control"
                        value=" {{ user.localidad}} "
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label
                      for="provincia"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Provincia</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="provincia"
                        type="text"
                        class="form-control"
                        value="{{ user.provincia }}"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="pais" class="col-md-4 col-lg-3 col-form-label"
                      >País</label>
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="pais"
                        type="text"
                        class="form-control"
                        value="{{ user.pais }}"/>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="telefono" class="col-md-4 col-lg-3 col-form-label"
                      >Teléfono</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="telefono"
                        type="text"
                        class="form-control"
                        value=" {{ user.telefono }} "
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label"
                      >Correo Electrónico</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="email"
                        type="email"
                        class="form-control"
                        value="{{ user.email }}"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-sm btn-primary">Guardar Cambios</button>
                    
                  </div>
                </form>
                <!-- End Profile Edit Form -->
              </div>

              <!-- Cambio de Contraseña -->

              <div class="tab-pane fade pt-3" id="profile-change-password">
                
                <a class="btn btn-primary" href=" {% url 'password_change' %}  ">Cambiar contraseña</a>

              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
