{% extends 'base.html' %}

{% load crispy_forms_tags %}



{% block content %}

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-1">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Agregar todos sus datos</h5>
                  <p class="text-center small">Datos obligatorios</p>
                </div>

                <form class="row g-3 justify-content-center" method='post' >

                  {% csrf_token %}

                  <div class="col-10">

                    {{ form | crispy }}

                    <button class="btn btn-sm btn-primary w-100" type="">Guardar datos</button>
                    <br> <br>
                    <a
                      name=""
                      id=""
                      class="btn btn-sm btn-primary w-100"
                      href=" {% url 'home' %} "
                      role="button"
                      >Regresar</a>
                    
                  </div>

                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

</div>

{% endblock %}


